body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#FAFAFA;  
    font-family: Georgia, 'Times New Roman', serif;
    line-height : 25px;
}  

.form
{
    margin: 2%;
}

label
{
    display: inline-block;
    width: 200px;
    color: #6E6E6E;
    text-align: left;
}

.inputTxt
{
    border-radius: 5px;
    border: 1px solid #A1A1A1;
    margin-bottom: 0.5%;
    width: 30%;
}




